<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pet, "Mascota", style: "display: block" %>
    <%= form.select :pet_id, @pets.map { |pet| [pet.name, pet_id] }, prompt: "Seleccione una mascota"%>
  </div>

  <div>
    <%= form.label :control_date, "Fecha Control" style: "display: block" %>
    <%= form.date_field :control_date %>
  </div>

  <div>
    <%= form.label :weight, "Peso(gr)" ,style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :height, "Altura(cm)" style: "display: block" %>
    <%= form.text_field :height %>
  </div>

  <div>
    <%= form.label :description "Descripción", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "Guardar" %>
  </div>
<% end %>
