<div id="<%= dom_id story %>">
  <p>
    <strong>Pet:</strong>
    <%= story.pet_id %>
  </p>

  <p>
    <strong>Control date:</strong>
    <%= story.control_date %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= story.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= story.height %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= story.description %>
  </p>

  

</div>
